__pycache__/find_duration_range.cpython-310.pyc
__pycache__/find_nearby_pitches.cpython-310.pyc
notes.txt
__pycache__/extract_notes_from_query.cpython-310.pyc
__pycache__/degree_computation.cpython-310.pyc
__pycache__/note.cpython-310.pyc
__pycache__/reformulation_V2.cpython-310.pyc
query_examples.cypher
results.txt
__pycache__/main.cpython-310.pyc
Air_n_78.mei_5.3125_7.0.mp3
Air_n_205.mei_0.0_1.375.mp3
output.mp3
__pycache__/generate_audio.cpython-310.pyc
Air_n_152.mei_1.125_2.5.mp3
Air_n_147.mei_0.0_1.375.mp3
10983_De_bon_matin_me_suis_lev.mei_2.75_3.75.mp3
10881_c_est_trois_garcons_de_l_Allemagne.mei_0.0_1.0.mp3
10274_10273_La_passion_de_Jsus_Christ.mei_4.25_5.25.mp3
10258_Les_matelots_du_port_St_Jacques.mei_1.0_2.0.mp3
__pycache__/utils.cpython-310.pyc
audio/10022_Ce_sont_les_dames_de_Paris.mei_1.5_0.97.mp3
audio/10023_le_mari_assassin.mei_5.375_0.94.mp3
audio/10037_les_mineurs_de_chemin_de_fer.mei_12.5_0.97.mp3
audio/10199_L_amour_et_la_boisson.mei_1.75_0.94.mp3
audio/10627_dessous_les_lauriers_blancs.mei_0.0_0.94.mp3
audio/10627_dessous_les_lauriers_blancs.mei_2.0_0.94.mp3
audio/10627_dessous_les_lauriers_blancs.mei_7.125_0.94.mp3
audio/10986_Mon_pre_a_fait_bƒtir_maison.mei_0.375_0.94.mp3
audio/10986_Mon_pre_a_fait_bƒtir_maison.mei_1.375_0.94.mp3
audio/11112_Charmante_beaut.mei_0.0_1.0.mp3
crisp_query.cypher
fuzzy_query.cypher
audio/10213_Jean-Pierre_mon__jean_pierre.mei_5.375_6.25_0.85.mp3
audio/10369_Les_cercliers.mei_3.25_3.875_0.85.mp3
audio/10369_Les_cercliers.mei_12.25_12.875_0.85.mp3
audio/10380_A_ta_sant_bouquet_de_rose.mei_5.5_6.25_0.92.mp3
audio/10380_A_ta_sant_bouquet_de_rose.mei_7.0_7.75_0.92.mp3
audio/10704_Vint_pour_partir_pour_l_Angleterre.mei_2.75_3.5_0.92.mp3
audio/10881_c_est_trois_garcons_de_l_Allemagne.mei_0.0_0.875_1.0.mp3
audio/11040_C_est_une_jeune_fille_que_l_on_mne_en_prison.mei_2.75_3.5_0.77.mp3
audio/11040_C_est_une_jeune_fille_que_l_on_mne_en_prison.mei_4.25_5.0_0.77.mp3
__pycache__/neo4j_connection.cpython-310.pyc
__pycache__/process_results.cpython-310.pyc
audio/10168_L_autre_jour_m_en_revenant_d_une_grande_assemble.mei_0.625_2.0_0.63.mp3
audio/11112_Charmante_beaut.mei_0.0_1.375_1.0.mp3
